@font-face {
    font-family: 'avara-bold';
    src: url('./assets/Avara-Bold.woff') format('woff');
  }

body {
    /* background-color: #fffff0; */
    font-size: 26px;
    margin-left: 5%;
}

/* what does the title text look like */
.title {
    font-family: avara-bold;
    font-size: 10vw;
    left: 5%;
    top: -5%;
    display: block;
    margin-top: 50px;
    margin-bottom: auto;
}

/* defines what different levels of text look like */
.subtitle {
    max-width: 650px;
    line-height: 1.5em;
    display: flex;
}

.subsection {
    max-width: 700px;
}

.subsection.wide {
    max-width: 900px;
}

.subheading {
    text-align: center;
}

.content {
    display:flex;
    flex-wrap: wrap;
}
.content.center {
    justify-content: center;
}

/* what does a callout card look like */
.callout {
    font-size: medium;
    position: relative;
    top: initial;
    left: initial;
    border: 1px dotted;
    border-radius: 4px;
    padding:10px;
    transform: rotate(5deg);
    max-width: fit-content;
    margin: auto;
}

/* what does main image gallery do */

.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 800px;
}

/* what do links look like */

a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

a:visited {
    color: purple;
}

a:active {
    color: yellowgreen;
}

/* specific styling */
.bob {
    letter-spacing: .2rem;
    text-transform: uppercase;
}
.pal {
    align-items: center;
    justify-content: center;
}

#a:hover, #i:hover, #o:hover, #u:hover {
    color: white;
}

#e {
    color: white;
    padding: 15px;
    background-color: black;
}

#e:hover {
    color:black;
}

.bemused {
    max-width: 900px;
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 20px;
  }
  
  .row {
    display: contents; /* Removes the row container's visual impact, passing items directly into the grid */
  }
  
  .translate {
    margin: 0; /* Removes default margins */
    text-align: left; /* Aligns the text in the left column */
  }
  
  .row p:not(.translate) {
    margin: 0; /* Removes default margins */
  }

/* photo spacing */

.photo {
    /* margin: 10px; */
    padding: 5px
}

/* hover effect of photos */

.photo:hover {
    border-style: dotted;
    border-color:blue;
}

/* to make something flippable */
.flip {
    transition: transform 0.8s;
    transform-origin: center;
}
.flip:hover {
    transform: rotateY(180deg);
  }

.spin {
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

/* for photos which dance side to side */
.flicker {
    margin:15px;
    animation: flickerRotate 1.25s steps(1) infinite;
}

@keyframes flickerRotate {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(0deg);
    }
}

.shake:hover {
    animation: shake 0.5s ease-in-out infinite; /* Adjust duration and repetitions */
  }

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

/* adjust size and positioning of specific photos */

.weird-al {
    width: 350px;
    float:left;
}
.weird-al:hover {
    border: none;
}

.ella {
    width: 200px;
}

.car {
    width: 300px;
    transform: rotate(10deg);
}

.blackout {
    width: 200px;
}

.abc {
    width: 200px;
    margin-left: 50px;
    margin-right: 50px;
}

.vowels {
    width: 200px;
    margin-left: 30px;
    padding: 50px 30px 50px 20px
}
.vowels:hover {
    content: url('./assets/vowels_crossed.png');
}

.dog {
    width: 150px;
}

.angrydog {
    max-width:900px;
}

.book {
    width: 250px;
}

.pie {
    width:200px;
}

.chief {
    width:150px;
}

/* for buttons that link at top and bottom of page */

.header {
    text-align: left;
    margin-top: 5%;
}

.footer {
    text-align: right;
    margin-right: 20%;
    margin-bottom: 5%;
}

/* handles positioning of anchored letra images on side */
.letra {
    position: fixed;
    width: 100%;
    display: block;
    max-width: 15%;
    margin: 10px;
}

.letra.one {
    top: 5%;
    right: 5%;
    transform: rotate(20deg);
    max-width: 10%;
}

.letra.two {
    top: 42%;
    left: -5%;
    transform: rotate(120deg);
    max-width: 10%;
    float:left;
    margin:10px
}

.letra.three {
    bottom: 3%;
    right: -2%;
    max-width: 10%;
    transform: rotate(50deg);
}

/* shoves letra images around if screen is small
middle one goes left, bottom one moves up slightly */
@media only screen and (min-width: 768px) {
    .letra.two {
        left: auto;
        right: 18%;
    }
}

@media only screen and (min-width: 768px) {
    .letra.three {
        bottom: -8%;
    }
}

@media (max-width: 630px) {
    .bob {
        font-size: 16px;
    }
}

/* makes body text smaller for small screens */
@media (max-width: 535px) {
    body {
        font-size: 20px;
    }
    .footer {
        text-align: center;
        margin:0;
    }
    .gallery {
        justify-content: center;
    }
    .photo {
        margin: 0px 25px 50px 25px;
    }
}