@font-face {
    font-family: 'avara-bold';
    src: url('./assets/Avara-Bold.woff') format('woff');
  }

body {
    /* background-color: #fffff0; */
    font-size: 26px;
    margin-left: 5%;
}

/* what does the title text look like */
.title {
    font-family: avara-bold;
    font-size: 10vw;
    left: 5%;
    top: -5%;
    display: block;
    margin-top: 50px;
    margin-bottom: auto;
}

/* defines what different levels of text look like */
.subtitle {
    max-width: 650px;
    line-height: 1.5em;
    display: flex;
}

.subsection {
    max-width: 700px;
}

.subheading {
    text-align: center;
}

.content {
    display:flex;
    flex-wrap: wrap;
}

/* specific to the lyrics of the song bob */
.bob {
    letter-spacing: .2rem;
    text-transform: uppercase;
}

/* what does a callout card look like */
.callout {
    font-size: medium;
    position: relative;
    top: initial;
    left: initial;
    border: 1px dotted;
    border-radius: 4px;
    padding:10px;
    transform: rotate(5deg);
    max-width: fit-content;
    margin: auto;
}

/* what does main image gallery do */

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* what do links look like */

a {
    color: blue;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: yellowgreen;
    text-decoration: underline;
}

a:visited {
    color: purple;
}

a:active {
    color: orange;
}

/* to make something flippable */
.flip {
    transition: transform 0.8s;
    transform-origin: center;
}
.flip:hover {
    transform: rotateY(180deg);
  }

/* for photos which dance side to side */
.flicker-photo {
    width: 350px;
    margin:15px;
    animation: flickerRotate 1.25s steps(1) infinite;
}

@keyframes flickerRotate {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(0deg);
    }
}

.flicker-photo.ella {
    width: 200px;
    /* border-style: dotted;
    border-color: black; */
}

/* adjust size and positioning of car png */

.car {
    width: 300px;
    transform: rotate(10deg);
    /* border-style: dotted;
    border-color: black; */
}

/* for buttons that link at top and bottom of page */

.header {
    text-align: left;
    margin-top: 5%;
}

.footer {
    text-align: right;
    margin-right: 20%;
    margin-bottom: 5%;
}

/* handles positioning of anchored letra images on side */
.letra {
    position: fixed;
    width: 100%;
    display: block;
    max-width: 15%;
    margin: 10px;
}

.letra.one {
    top: 5%;
    right: 5%;
    transform: rotate(20deg);
    max-width: 10%;
}

.letra.two {
    top: 42%;
    left: -5%;
    transform: rotate(120deg);
    max-width: 10%;
    float:left;
    margin:10px
}

.letra.three {
    bottom: 3%;
    right: -2%;
    max-width: 10%;
    transform: rotate(50deg);
}

/* shoves letra images around if screen is small
middle one goes left, bottom one moves up slightly */
@media only screen and (min-width: 768px) {
    .letra.two {
        left: auto;
        right: 18%;
    }
}

@media only screen and (min-width: 768px) {
    .letra.three {
        bottom: -8%;
    }
}

/* makes body text smaller for small screens */
@media (max-width: 535px) {
    body {
        font-size: 20px;
    }
    .footer {
        text-align: center;
        margin:0;
    }
}