@font-face {
    font-family: 'stars';
    src: url('./starlike/fonts/star_ornaments.otf')
  }

body {
    font-family: monospace;
    text-align: center;
    line-height: 200%;
    font-size: x-large;
}

footer {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    font-size: small;
}
  
#starlike {
    font-family: 'stars', sans-serif;
  }