@font-face {
    font-family: 'avara-black';
    src: url('Avara-Black.woff') format('woff');
  }

#constraint {
    font-family: avara-black;
    font-size: x-large;
    top: -5%;
}

.letra.one {
    top: 5%;
    right: 5%;
    transform: rotate(20deg);
    max-width: 10%;
}

.letra.two {
    top: 42%;
    left: -10%;
    transform: rotate(-20deg);
    max-width: 15%;
}

.letra.three {
    bottom: 3%;
    right: -2%;
    max-width: 15%;
    
}

.letra {
    position: fixed;
    width: 100%;
    display: block;
    max-width: 15%;
}

@media only screen and (min-width: 768px) {
    .letra.two {
        left: auto;
        right: 18%;
    }
}

@media only screen and (min-width: 768px) {
    .letra.three {
        bottom: -8%;
    }
}