@font-face {
    font-family: 'karrik';
    src: url('/font/Karrik-Regular.woff') format('woff');
  }
@font-face {
    font-family: 'raritas';
    src: url('/font/raritas.otf') format('otf');
  }

  .bob {
    font-family: monospace;
    letter-spacing: .2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin: -55px;
  }

  .wiki {
    font-family: 'karrik';
    font-size: xx-large;
    font-weight: 900;
    line-height: 200%;
    letter-spacing: .5rem;
    text-align: center;
    margin: -150px 50px;
    padding: 200px;
  }
  .eunoia {
    font-family: 'raritas';
    font-size: medium;
    font-weight: 900;
    letter-spacing: .5rem;
    text-transform: lowercase;
    text-align: justify;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 50px;
  }

  .lmnop {
    font-family: system-ui;
  }

  .lmnop_body {
    font-family: system-ui;
    display:flex;
    margin: 50px;
    padding: 50px;
    gap: 20px
  }

  .col {
    flex:1
  }

  h1, h2, h3, h4, h5, h6 {
    line-height: 0.5;
  }
  h1, h2 {
    text-align: center;
  }
  .poem {
    font-family: cursive;
    letter-spacing: .25rem;
    font-size: x-large;
    display: flex;
    margin: 20px 200px;
  }