@font-face {
  font-family: 'raritas';
  src: url('./assets/raritas.otf')
}

body {
  font-family: 'raritas', sans-serif;
}

@font-face {
  font-family: 'stars';
  src: url('./assets/star_ornaments.otf')
}

body {
  font-family: 'stars', sans-serif;
}